@import "variables";

%visi-misi{
    .title-box {
        position: relative;
        .bg1 {
            top: -5.5vw;
            left: 2vw;
            letter-spacing: 15px;
            font-size: 5.8vw;
            margin: 0;
            @extend %shadow-title;
        }
    }
    .desc {
        @extend %desc;
    }
}

.titled-box {
    padding: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .image-box {
        position: relative;
        width: 30.5vw;
        height: 33.7vw;
        img {
            @extend %full-img-cover;
            position: absolute;
            top: -3vw;
            z-index: 3;
        }
    }
    .detail-box {
        align-self: center;
        .title-box {
            position: relative;
            padding: 16px 0;
            .line1 {
                position: absolute;
                bottom: 0;
                left: -2vw;
            }
        }
        .desc {
            @extend %desc;
        }
    }
}
.quote-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2vw;
    padding: 0 0 0 10%;
    .detail-box {
        align-self: center;
        position: relative;
        .petik1,.petik2 {
            position: absolute;
            font-size: 200px;
            font-family: "Raleway", sans-serif;
            opacity: 0.4;
        }
        .petik1 {
            top: 0;
            left: 0;
        }
        .petik2 {
            bottom: -6vw;
            right: -10vw;
        }
        p {
            margin: 0;
            font-style: italic;
            color: #8f762d;
            font-size: 2.1vw;
            line-height: 2.6vw;
            width: 69%;
        }
    }
    .image-box {
        position: relative;
        width: 39.7vw;
        height: 21vw;
        justify-self: end;
        img {
            position: absolute;
            top: 4vw;
            @extend %full-img-cover;
            z-index: 3;
        }
        .line3 {
            width: 4vw;
            height: 4vw;
            border-top: 5px solid #8f762d;
            border-left: 5px solid #8f762d;
            position: absolute;
            top: 0vw;
            right: 0vw;
        }
    }
}
.vision-box {
    background-color: #00264b;
    padding: 8.5vw 10%;
    position: relative;
    z-index: 2;
    .bg {
        @extend %bg-opacity-image;
    }
    .card-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 4vw;
        .image-box {
            width: 7.9vw;
            height: 7.9vw;
            border-radius: 200px;
            border: 1px solid rgba(255, 255, 255, 0.35);
            margin-right: 1.6vw;
            img {
                width: 3.4vw;
                height: 3.4vw;
                object-fit: cover;
            }
        }
        .detail-box {
            .title {
                color: #8f762d;
                text-transform: uppercase;
                margin-bottom: 1.2vw;
                font-size: 1.1vw;
            }
            .desc {
                color: rgba(255, 255, 255, 0.66);
                @extend %desc;
                margin: 0;
            }
        }
    }
}
.avet-box {
    padding: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5.3vw;
    .image-box {
        position: relative;
        width: 30.5vw;
        height: 34vw;
        img {
            @extend %full-img-cover;
            position: absolute;
            top: -4vw;
            z-index: 3;
        }
    }
    .detail-box {
        align-self: center;
        .title-box {
            position: relative;
            padding: 16px 0;
            .line1 {
                position: absolute;
                bottom: 0;
                left: -2vw;
            }
        }
        ul {
            .desc {
                @extend %desc;
                margin-bottom: 36px;
            }
            .desc:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.mission-box {
    padding: 16px 10%;
    display: grid;
    grid-template-areas:
        "img img"
        "visi misi";
    grid-column-gap: 3.1vw;
    grid-row-gap: 7vw;
    .image-box {
        width: 100%;
        grid-area: img;
        .play-box {
            background-color: rgba(0, 38, 75, 0.3);
            border-radius: 200px;
            width: 5.8vw;
            height: 5.8vw;
            cursor: pointer;
        }
    }
    .visi-box {
        grid-area: visi;
        @extend %visi-misi;
    }
    .misi-box {
        grid-area: misi;
        @extend %visi-misi;
    }
}
.line2 {
    position: absolute;
    width: 10vw;
    height: 180vh;
    border-left: 2px solid #8f762d;
    border-top: 2px solid #8f762d;
    border-bottom: 2px solid #8f762d;
    top: 10vh;
    left: 5vw;
    z-index: 1;
    pointer-events: none;
}