@import "variables";

.layout-box{
    @extend %layout;
    margin-bottom: 1vw;
}
.image-box{
    display: grid;
    padding:2vw 10% 10vw;
    justify-items:center;
    grid-template-areas: 
    "img1 img1 img4 img5"
    "img1 img1 img6 img6"
    "img2 img3 img6 img6";
    grid-gap: 20px;
    img{
        object-fit: cover;
        width: 100%;
    }
    img:nth-child(1){
        grid-area: img1;
        height: 23.4vw;
    }
    img:nth-child(2){
        grid-area: img2;
        height: 18.1vw;
    }
    img:nth-child(3){
        grid-area: img3;
        height: 18.1vw;
    }
    img:nth-child(4){
        grid-area: img4;
        height: 18.1vw;
    }
    img:nth-child(5){
        grid-area: img5;
        height: 18.1vw;
    }
    img:nth-child(6){
        grid-area: img6;
        height: 23.4vw;
    }
}