.box{
    padding:0 10%;
    height: calc(100vh - 132px);
    .form-box{
        width: 100%;
        h1{
            text-align: center;
            margin-bottom: 3.5vw;
            font-size: 2.6vw;
        }
        form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "first-name last-name"
            "phone email"
            "textarea textarea"
            "close-btn send-btn";
            grid-gap: 2.5vw;
            input, textarea{
                padding:0.8vw 1.5vw;
                font-size: 1.1vw;
            }
            .first-name{
                grid-area: first-name;
            }
            .last-name{
                grid-area: last-name;
            }
            .phone{
                grid-area: phone;
            }
            .email{
                grid-area: email;
            }
            .textarea{
                grid-area: textarea;
            }
            .detail-box{
                grid-area: detail;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 1.9vw;
                p{
                    margin:0;
                    font-size: 0.8vw;
                }
            }
            .close-btn{
                border:1px solid #8F762D;
                background-color: #fff;     
                color: #00264B; 
                grid-area: close-btn;
                
                img{
                    margin-left: 0.9vw;
                }
                .arrow1{
                    display: none;
                }
                .arrow2{
                    display: inline-block;
                }
            }
            .close-btn:hover{
                background-color: #00264B;
                color: white;                
                img{
                    margin-left: 0.9vw;
                }
                .arrow1{
                    display: inline-block;
                }
                .arrow2{
                    display: none;
                }
            }
            .send-btn{
                grid-area: send-btn;
                background-color: #00264B;
                color: white;
                justify-self: start;
                img{
                    margin-left: 0.9vw;
                }
                .arrow1{
                    display: inline-block;
                }
                .arrow2{
                    display: none;
                }
            }
            .send-btn:hover{
                border:1px solid #8F762D;
                background-color: #fff;     
                color: #00264B; 

                img{
                    margin-left: 0.9vw;
                }
                .arrow1{
                    display: none;
                }
                .arrow2{
                    display: inline-block;
                }
            }
            button{
                width: 12.4vw;
                height: 3.1vw;
                justify-self: end;
                img{
                    margin-left: 0.9vw;
                }
            }
        }
    }
}
.container{
    min-height: unset !important;
}
.footer{
    display: none !important;
}