@import "variables";

.layout-box{
    @extend %layout;
    margin-bottom: 10vw;
}
.image-box{
    padding:16px 10%;    
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5vw;
    position: relative;
    .line2{
        position: absolute;
        width: 8vw;
        height: 17vw;
        left: 50%;
        top:35%;
        transform: translate(-50%, -42%);
        border:5px solid #8F762D;
        z-index: 2;
    }
    .img-wrapper{
        position: relative;
        max-width: 771px;
        height: 21.7vw;
        img{
            @extend %full-img-cover;
            position: absolute;
        }
    }
    .img-wrapper:nth-child(1) img{
        top: -2vw;
        z-index: 1;
    }
    .img-wrapper:nth-child(2) img{
        top: 2vw;
        z-index: 3;
    }
}
.slider-box{
    padding: 10vw 0;
    position: relative;
    ul{
        z-index: 2;
        .slider-section{
            height: 30vw;
            border:5px solid #8F762D;  
            position: relative;
            margin: 0 5vw;
            .desc-box{
                z-index: 1;
                position: absolute;
                bottom: -2vw;
                right: -3vw;
                width: 100%;
                height:100%;
                background-color: #00264B;
                .image-box{
                    position: relative;
                    width: 40vw;
                    height: 30vw;
                    .img-post{
                        @extend %full-img-cover;
                        position: absolute;
                        top: -6vw;
                        left: -6vw;
                        z-index: 2;
                    }  
                }
                .detail-box{
                    .title-box{
                        padding-top: 5vw;
                        position: relative;
                        margin-bottom: 20px;
                        .title-section{
                            color: #8F762D;
                            margin-bottom: 20px;
                        }
                        .line1{
                            position: absolute;
                            bottom: 0;
                            left: -2.5vw;
                        }
                    }
                    .desc-section{
                        padding-right:5vw;
                        .desc{
                            @extend %desc;
                            color: #BFBFBF;
                        }
                    }
                    .arrow-box{
                        padding-right:5vw;
                        align-self: flex-end;
                        .divider{
                            width: 1px;
                            height: 10px;
                            background: white;
                            margin: 0 16px;
                        }
                    }
                }
            }
        }
    }
    .bg-box{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 60%;
        .bg2{
            @extend %full-img-cover;
            opacity: .2;
            filter: grayscale(1);
        }
    }
}