@import "variables";

.content-box{
    padding:3vw 10%;
    .image-box{
        width: 90%;
        height: 30vw;
        margin-bottom: 3vw;
        img{
            @extend %full-img-cover;
        }
    }

    .news-box{
        padding:0 10%;
        .news-section{
            border-bottom:1px solid #E1E1E1;
            padding:0.5vw;
            margin-bottom: 0.7vw;
            .date-box{
                margin-bottom: 1vw;
                p{
                    color: #8F762D;
                    font-size: 0.9vw;
                    margin: 0;
                }
            }
            .desc-box{
                .title{
                    font-size: 1.5vw;
                    color: #4A4A4A;
                    line-height: 1.5vw;
                    margin-bottom: 1.7vw;
                    font-family: museo700;
                }
                .desc{
                    font-size: 0.9vw;
                    color: #4A4A4A;
                    line-height: 1.5vw;
                }
            }
        }

        .footer-news-box{
            button{
                border:1px solid #8F762D;
                font-size: 0.8vw;
                text-transform: uppercase;
                color: #00264B;
                width: 12.4vw;
                height: 3.1vw;
                img{
                    margin-left: 0.9vw;
                }
                .arrow1{
                    display: none;
                }
                .arrow2{
                    display: inline-block;
                }
            }
            button:hover{
                background-color: #00264B;
                color: white;                
                img{
                    margin-left: 0.9vw;
                }
                .arrow1{
                    display: inline-block;
                }
                .arrow2{
                    display: none;
                }
            }

            .socmed-box{
                p{
                    font-size: 1vw;
                    color: #00264B;
                    margin:0;
                    margin-right: 1.3vw;
                }
                .icon-box{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 0.9vw;
                }
            }
        }
    }
}