@import "variables";

.news-box{
    position: relative;
    height: 6vw;
    margin-bottom: 5vw;
    .news-section{
        position: absolute;
        top: -3vw;
        left: 50%;
        transform: translateX(-50%);
        padding-top:8vw;
        width: 80%;
        background: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 3vw;
        .title-box{
            position: relative;
            justify-self: center;
            width: 100%;
            .title-section{
                width: 60%;
                text-align: center;
                margin: 0 auto;
            }
            .bg1{
                position: absolute;
                top: -6.5vw;
                left: 50%;
                transform: translateX(-50%);
                letter-spacing: 1vw;
                text-transform: uppercase;
                opacity: 0.1;
                font-size: 8vw;
                text-align: center;
                width: 100%;
                margin: 0;
                font-family: museo700;                
            }
        }
    }
}
.post-box{ 
    display: grid;
    grid-template-columns: 1fr;
    padding:5vw 10%;
    .post-section{
        padding:3.6vw 0;
        border-bottom:1px solid #E1E1E1;
        .image-box{
            width: 100%;
            position: relative;
            margin-right: 4.3vw;
            .thumbnail{
                @extend %full-img-cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }
        }
        .detail-box{
            .date{
                margin-bottom: 0.3vw;
                font-size: 0.8vw;
                color: #8F762D;
            }
            .title{
                margin:0;
                margin-bottom: 0.8vw;
                font-size: 1.5vw;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .desc{
                font-size: 0.9vw;
                margin:0;
                margin-bottom: 1.6vw;
            }
            button{
                border:1px solid #8F762D;
                width: 12.4vw;
                height: 3.1vw;
                background-color: white;
                cursor: pointer;
                color: #00264B;
                img{
                    margin-left: 0.9vw;
                }
                .arrow1{
                    display: none;
                }
                .arrow2{
                    display: inline-block;
                }
            }
            button:hover{
                background-color: #00264B;
                color: white;
                img{
                    margin-left: 0.9vw;
                }
                .arrow1{
                    display: inline-block;
                }
                .arrow2{
                    display: none;
                }
            }
        }
    }
    .post-section:nth-child(2){
        .image-box{
            .line2{
                width: 90%;
                height: 90%;
                border:5px solid #8F762D;
                position: absolute;
                left: -1vw;
                bottom: -1vw;
                z-index: 1;
            }
        }
    }
}