@import "variables";

.not-found-box{
    padding:16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 32px);
    .image-box{
        height: 100%;
        img{
            @extend %full-img-cover;
        }
    }
    .msg-box{
        justify-self: center;
        align-self:center;
        p{
            text-align: center;
            margin: 0;
        }
        .number{
            font-size: 15.1vw;
            color: #00264B;
            margin-bottom: 1.5vw;
            line-height: 13vw;
        }
        .oops{
            margin-bottom: 0.1vw;
            font-size: 1.7vw;
            color: #313131;
            text-transform: uppercase;
        }
        .desc{
            font-size: 1.5vw;
            margin-bottom: 2.9vw;
        }
        button{
            @extend %button-outline;
        }
        button:hover{
            @extend %button-solid-blue;
        }
    }
}

.container{
    min-height: unset !important;
}
.footer{
    display: none !important;
}