.layout-box .layout-section .title-box .bg1 {
  z-index: 2;
  text-transform: uppercase;
  opacity: 0.1;
  font-family: museo700;
  position: absolute;
}

.layout-box .layout-section .desc-box div .desc {
  font-size: 0.86vw;
  letter-spacing: 1px;
}

.layout-box {
  position: relative;
  height: 18vw;
}

.layout-box .layout-section {
  position: absolute;
  top: -3vw;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 8vw;
  width: 80%;
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 3vw;
}

.layout-box .layout-section .title-box {
  position: relative;
  justify-self: center;
}

.layout-box .layout-section .title-box .title-section {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.layout-box .layout-section .title-box .bg1 {
  top: -6.5vw;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 1.5vw;
  font-size: 8vw;
  margin: 0;
}

.layout-box .layout-section .desc-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3.4vw;
}

.logo-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5vw 10%;
  justify-items: center;
  align-items: center;
}

.logo-box .image-box {
  border-right: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  width: 100%;
  height: 100%;
}

.logo-box .image-box img {
  transform: scale(0.8);
}

.logo-box .image-box:nth-child(n+5) {
  border-bottom: none;
}

.logo-box .image-box:nth-child(4n) {
  border-right: none;
}

