.layout-box .layout-section .title-box .bg1 {
  z-index: 2;
  text-transform: uppercase;
  opacity: 0.1;
  font-family: museo700;
  position: absolute;
}

.layout-box .layout-section .desc-box div .desc {
  font-size: 0.86vw;
  letter-spacing: 1px;
}

.layout-box {
  position: relative;
  height: 18vw;
}

.layout-box .layout-section {
  position: absolute;
  top: -3vw;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 8vw;
  width: 80%;
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 3vw;
}

.layout-box .layout-section .title-box {
  position: relative;
  justify-self: center;
}

.layout-box .layout-section .title-box .title-section {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.layout-box .layout-section .title-box .bg1 {
  top: -6.5vw;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 1.5vw;
  font-size: 8vw;
  margin: 0;
}

.layout-box .layout-section .desc-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3.4vw;
}

.layout-box {
  margin-bottom: 1vw;
}

.image-box {
  display: grid;
  padding: 2vw 10% 10vw;
  justify-items: center;
  grid-template-areas: "img1 img1 img4 img5" "img1 img1 img6 img6" "img2 img3 img6 img6";
  grid-gap: 20px;
}

.image-box img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.image-box img:nth-child(1) {
  grid-area: img1;
  height: 23.4vw;
}

.image-box img:nth-child(2) {
  grid-area: img2;
  height: 18.1vw;
}

.image-box img:nth-child(3) {
  grid-area: img3;
  height: 18.1vw;
}

.image-box img:nth-child(4) {
  grid-area: img4;
  height: 18.1vw;
}

.image-box img:nth-child(5) {
  grid-area: img5;
  height: 18.1vw;
}

.image-box img:nth-child(6) {
  grid-area: img6;
  height: 23.4vw;
}

