.box {
  padding: 0 10%;
  height: calc(100vh - 132px);
}

.box .form-box {
  width: 100%;
}

.box .form-box h1 {
  text-align: center;
  margin-bottom: 3.5vw;
  font-size: 2.6vw;
}

.box .form-box form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "first-name last-name" "phone email" "textarea textarea" "close-btn send-btn";
  grid-gap: 2.5vw;
}

.box .form-box form input,
.box .form-box form textarea {
  padding: 0.8vw 1.5vw;
  font-size: 1.1vw;
}

.box .form-box form .first-name {
  grid-area: first-name;
}

.box .form-box form .last-name {
  grid-area: last-name;
}

.box .form-box form .phone {
  grid-area: phone;
}

.box .form-box form .email {
  grid-area: email;
}

.box .form-box form .textarea {
  grid-area: textarea;
}

.box .form-box form .detail-box {
  grid-area: detail;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.9vw;
}

.box .form-box form .detail-box p {
  margin: 0;
  font-size: 0.8vw;
}

.box .form-box form .close-btn {
  border: 1px solid #8F762D;
  background-color: #fff;
  color: #00264B;
  grid-area: close-btn;
}

.box .form-box form .close-btn img {
  margin-left: 0.9vw;
}

.box .form-box form .close-btn .arrow1 {
  display: none;
}

.box .form-box form .close-btn .arrow2 {
  display: inline-block;
}

.box .form-box form .close-btn:hover {
  background-color: #00264B;
  color: white;
}

.box .form-box form .close-btn:hover img {
  margin-left: 0.9vw;
}

.box .form-box form .close-btn:hover .arrow1 {
  display: inline-block;
}

.box .form-box form .close-btn:hover .arrow2 {
  display: none;
}

.box .form-box form .send-btn {
  grid-area: send-btn;
  background-color: #00264B;
  color: white;
  justify-self: start;
}

.box .form-box form .send-btn img {
  margin-left: 0.9vw;
}

.box .form-box form .send-btn .arrow1 {
  display: inline-block;
}

.box .form-box form .send-btn .arrow2 {
  display: none;
}

.box .form-box form .send-btn:hover {
  border: 1px solid #8F762D;
  background-color: #fff;
  color: #00264B;
}

.box .form-box form .send-btn:hover img {
  margin-left: 0.9vw;
}

.box .form-box form .send-btn:hover .arrow1 {
  display: none;
}

.box .form-box form .send-btn:hover .arrow2 {
  display: inline-block;
}

.box .form-box form button {
  width: 12.4vw;
  height: 3.1vw;
  justify-self: end;
}

.box .form-box form button img {
  margin-left: 0.9vw;
}

.container {
  min-height: unset !important;
}

.footer {
  display: none !important;
}

