@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);#contact-us .form-box form button,
#get-info .box .form-box form .send-btn,
#get-info .box .form-box form .close-btn:hover,
#contact-us .form-box form button:hover,
#get-info .box .form-box form .send-btn:hover,
#get-info .box .form-box form .close-btn {
  font-size: 0.98vw;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 3.1vw;
  cursor: pointer;
}

#contact-us .form-box form button img,
#get-info .box .form-box form .send-btn img,
#get-info .box .form-box form .close-btn:hover img,
#contact-us .form-box form button:hover img,
#get-info .box .form-box form .send-btn:hover img,
#get-info .box .form-box form .close-btn img {
  margin-left: 0.9vw;
}

#contact-us .form-box form button:hover,
#get-info .box .form-box form .send-btn:hover,
#get-info .box .form-box form .close-btn {
  border: 1px solid #8F762D;
  background-color: white;
  color: #00264B;
}

#contact-us .form-box form button:hover .arrow1,
#get-info .box .form-box form .send-btn:hover .arrow1,
#get-info .box .form-box form .close-btn .arrow1 {
  display: none;
}

#contact-us .form-box form button:hover .arrow2,
#get-info .box .form-box form .send-btn:hover .arrow2,
#get-info .box .form-box form .close-btn .arrow2 {
  display: inline-block;
}

#contact-us .form-box form button,
#get-info .box .form-box form .send-btn,
#get-info .box .form-box form .close-btn:hover {
  background-color: #00264B;
  color: white;
}

#contact-us .form-box form button .arrow1,
#get-info .box .form-box form .send-btn .arrow1,
#get-info .box .form-box form .close-btn:hover .arrow1 {
  display: inline-block;
}

#contact-us .form-box form button .arrow2,
#get-info .box .form-box form .send-btn .arrow2,
#get-info .box .form-box form .close-btn:hover .arrow2 {
  display: none;
}

.question-box .bg {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  pointer-events: none;
}

@font-face {
  font-family: museo700;
  src: url(/fonts/Museo700-Regular.otf?dc579f9739403ae5d95bb441a0b69082);
}

@font-face {
  font-family: museo300;
  src: url(/fonts/Museo300.otf?cb9fcef8c3162a98851f65872ec99f11);
}

* {
  font-family: "Lato", sans-serif;
}

nav {
  padding: 0 5%;
  transition: all 300ms ease;
}

nav .brand-logo {
  width: 10vw;
  height: 3.3vw;
  -o-object-fit: contain;
     object-fit: contain;
}

nav .first-child-nav {
  padding: 0 0.7vw;
}

nav .first-child-nav .menu-item {
  color: #181717 !important;
  font-size: 0.9vw !important;
  font-family: museo300 !important;
  text-transform: capitalize !important;
}

nav .first-child-nav .menu-item img {
  margin-left: 16px;
}

nav .first-child-nav .uk-navbar-dropdown {
  padding: 0;
  top: 50px !important;
}

nav .first-child-nav .uk-navbar-dropdown .child-nav {
  padding: 16px;
  background-color: white;
}

nav .first-child-nav .uk-navbar-dropdown .child-nav a {
  color: black !important;
}

nav .first-child-nav .uk-navbar-dropdown .child-nav:hover {
  background-color: #00264B;
}

nav .first-child-nav .uk-navbar-dropdown .child-nav:hover a {
  color: white !important;
}

nav .info-btn {
  border: 1px solid #8F762D;
  font-size: 0.8vw;
  padding: 0 20px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #00264B;
}

nav .info-btn img {
  margin-right: 10px;
}

nav .search-nav-box {
  width: 0;
  opacity: 0;
  transition: all 300ms ease;
}

nav .search-nav-box input {
  width: 100%;
  height: 40px;
  border: 1px solid #8F762D;
  padding: 0 16px;
}

nav .nav-search {
  border-radius: 200px;
  border: 1px solid #8F762D;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.uk-navbar-sticky {
  background-color: white !important;
  transition: 300ms all ease;
}

.jumbotron .jumbo-img {
  width: 100%;
  height: 107vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  pointer-events: none;
}

.jumbotron .jumbo-wrapper {
  width: 58%;
}

.jumbotron .jumbo-wrapper .jumbo-title {
  font-size: 3.4vw;
  color: #00264B;
  text-align: center;
  line-height: 3.4vw;
  font-family: museo700;
}

.jumbotron .jumbo-wrapper .jumbo-desc {
  font-size: 0.9vw;
  width: 80%;
  line-height: 1.3vw;
  text-align: center;
  color: #313131;
}

.jumbotron .jumbo-wrapper .play-box {
  background-color: rgba(0, 38, 75, 0.3);
  border-radius: 200px;
  width: 5.8vw;
  height: 5.8vw;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  min-height: calc(100vh - 100px - 29.2px);
  position: relative;
}

.socmed-sticky {
  position: fixed;
  right: -185px;
  top: 50%;
  transform: translateY(-50%) rotate(270deg);
  z-index: 99;
  pointer-events: none;
}

.socmed-sticky .socmed-sticky-box {
  margin-right: 37px;
}

.socmed-sticky .socmed-sticky-box .fb {
  transform: rotate(90deg);
}

.socmed-sticky .socmed-sticky-box .item-socmed-sticky {
  margin-right: 12px;
}

button {
  font-weight: bold !important;
}

.title-section {
  margin-bottom: 0;
  color: #8F762D;
  font-size: 2.6vw;
  font-family: museo700;
  line-height: 2.5vw;
  text-transform: capitalize;
}

.title-section span {
  color: #303030;
}

.question-box {
  padding: 5.5vw 10%;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #00264B;
  justify-items: center;
  position: relative;
}

.question-box h2 {
  color: white;
  font-size: 2.1vw;
}

.question-box button {
  background-color: #8F762D;
  color: white;
  width: 15.6vw;
  height: 3.2vw;
  text-transform: capitalize;
  font-size: 1.1vw;
}

.question-box button img {
  margin-left: 0.9vw;
}

.question-box button:hover {
  background-color: white;
  border: 1px solid #8F762D;
  color: #8F762D;
}

.footer {
  background-color: #8F762D;
  padding: 0.5vw;
}

.footer p {
  color: white;
  font-size: 0.8vw;
  margin: 0;
}

#get-info .box {
  padding: 0 10%;
  height: calc(100vh - 132px);
}

#get-info .box .form-box {
  width: 100%;
}

#get-info .box .form-box h1 {
  text-align: center;
  margin-bottom: 3.5vw;
  font-size: 2.6vw;
}

#get-info .box .form-box form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "first-name last-name" "phone email" "textarea textarea" "close-btn send-btn";
  grid-gap: 2.5vw;
}

#get-info .box .form-box form input,
#get-info .box .form-box form textarea {
  padding: 0.8vw 1.5vw;
  font-size: 1.1vw;
}

#get-info .box .form-box form .first-name {
  grid-area: first-name;
}

#get-info .box .form-box form .last-name {
  grid-area: last-name;
}

#get-info .box .form-box form .phone {
  grid-area: phone;
}

#get-info .box .form-box form .email {
  grid-area: email;
}

#get-info .box .form-box form .textarea {
  grid-area: textarea;
}

#get-info .box .form-box form .detail-box {
  grid-area: detail;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.9vw;
}

#get-info .box .form-box form .detail-box p {
  margin: 0;
  font-size: 0.8vw;
}

#get-info .box .form-box form .close-btn {
  grid-area: close-btn;
  position: relative !important;
  top: unset !important;
  padding: 0 30px !important;
}

#get-info .box .form-box form .send-btn {
  grid-area: send-btn;
  justify-self: start;
}

#get-info .box .form-box form button {
  justify-self: end;
}

#contact-us .map-box {
  position: relative;
  width: 100%;
  height: 27.6vw;
}

#contact-us .form-box {
  padding: 0 10%;
  padding-bottom: 3vw;
}

#contact-us .form-box form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "first-name last-name" "phone email" "textarea textarea" "detail send";
  grid-gap: 2.5vw;
}

#contact-us .form-box form input,
#contact-us .form-box form textarea {
  padding: 0.8vw 1.5vw;
  font-size: 1.1vw;
  border: 1px solid #ACACAC;
}

#contact-us .form-box form input::-webkit-input-placeholder,
#contact-us .form-box form .textarea::-webkit-input-placeholder {
  color: #BBBBBB;
}

#contact-us .form-box form input::-moz-placeholder,
#contact-us .form-box form .textarea::-moz-placeholder {
  color: #BBBBBB;
}

#contact-us .form-box form input:-ms-input-placeholder,
#contact-us .form-box form .textarea:-ms-input-placeholder {
  color: #BBBBBB;
}

#contact-us .form-box form input::-ms-input-placeholder,
#contact-us .form-box form .textarea::-ms-input-placeholder {
  color: #BBBBBB;
}

#contact-us .form-box form input::placeholder,
#contact-us .form-box form .textarea::placeholder {
  color: #BBBBBB;
}

#contact-us .form-box form .first-name {
  grid-area: first-name;
}

#contact-us .form-box form .last-name {
  grid-area: last-name;
}

#contact-us .form-box form .phone {
  grid-area: phone;
}

#contact-us .form-box form .email {
  grid-area: email;
}

#contact-us .form-box form .textarea {
  grid-area: textarea;
}

#contact-us .form-box form .detail-box {
  grid-area: detail;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.9vw;
}

#contact-us .form-box form .detail-box p {
  margin: 0;
  font-size: 0.8vw;
}

#contact-us .form-box form button {
  grid-area: send;
  justify-self: end;
}

