.post-box .post-section .image-box .thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-box {
  position: relative;
  height: 6vw;
  margin-bottom: 5vw;
}

.news-box .news-section {
  position: absolute;
  top: -3vw;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 8vw;
  width: 80%;
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 3vw;
}

.news-box .news-section .title-box {
  position: relative;
  justify-self: center;
  width: 100%;
}

.news-box .news-section .title-box .title-section {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.news-box .news-section .title-box .bg1 {
  position: absolute;
  top: -6.5vw;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 1vw;
  text-transform: uppercase;
  opacity: 0.1;
  font-size: 8vw;
  text-align: center;
  width: 100%;
  margin: 0;
  font-family: museo700;
}

.post-box {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5vw 10%;
}

.post-box .post-section {
  padding: 3.6vw 0;
  border-bottom: 1px solid #E1E1E1;
}

.post-box .post-section .image-box {
  width: 100%;
  position: relative;
  margin-right: 4.3vw;
}

.post-box .post-section .image-box .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.post-box .post-section .detail-box .date {
  margin-bottom: 0.3vw;
  font-size: 0.8vw;
  color: #8F762D;
}

.post-box .post-section .detail-box .title {
  margin: 0;
  margin-bottom: 0.8vw;
  font-size: 1.5vw;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post-box .post-section .detail-box .desc {
  font-size: 0.9vw;
  margin: 0;
  margin-bottom: 1.6vw;
}

.post-box .post-section .detail-box button {
  border: 1px solid #8F762D;
  width: 12.4vw;
  height: 3.1vw;
  background-color: white;
  cursor: pointer;
  color: #00264B;
}

.post-box .post-section .detail-box button img {
  margin-left: 0.9vw;
}

.post-box .post-section .detail-box button .arrow1 {
  display: none;
}

.post-box .post-section .detail-box button .arrow2 {
  display: inline-block;
}

.post-box .post-section .detail-box button:hover {
  background-color: #00264B;
  color: white;
}

.post-box .post-section .detail-box button:hover img {
  margin-left: 0.9vw;
}

.post-box .post-section .detail-box button:hover .arrow1 {
  display: inline-block;
}

.post-box .post-section .detail-box button:hover .arrow2 {
  display: none;
}

.post-box .post-section:nth-child(2) .image-box .line2 {
  width: 90%;
  height: 90%;
  border: 5px solid #8F762D;
  position: absolute;
  left: -1vw;
  bottom: -1vw;
  z-index: 1;
}

