.flock-box .image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.other-box .post-box .desc,
.flock-box .detail-box .desc,
.about-box .detail-box .desc {
  font-size: 0.86vw;
  letter-spacing: 1px;
}

.flock-box .detail-box .title-box,
.about-box .detail-box .title-box {
  padding-bottom: 16px;
  position: relative;
}

.flock-box .detail-box .title-box .title-section,
.about-box .detail-box .title-box .title-section {
  font-size: 2.1vw;
}

.flock-box .detail-box .title-box .line1,
.about-box .detail-box .title-box .line1 {
  position: absolute;
  bottom: 0;
  left: -2vw;
}

.jumbotron .jumbo-img {
  height: 70vh !important;
}

.about-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10vh 10% 16px;
  grid-gap: 4vw;
}

.about-box .image-box {
  position: relative;
  height: 25vw;
}

.about-box .image-box img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 5vh;
  right: -9.9vw;
  width: calc(100% + 10vw);
  height: 110%;
  max-width: unset;
  z-index: 2;
}

.about-box .image-box .line2 {
  position: absolute;
  top: 0;
  right: -9.9vw;
  border-top: 5px solid #8F762D;
  border-left: 5px solid #8F762D;
  width: 7vw;
  height: 5vw;
  z-index: 1;
}

.about-box .detail-box {
  padding: 10px;
}

.flock-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4vw;
  padding: 16px 10% 8vw;
}

.flock-box .image-box {
  position: relative;
  border: 5px solid #8F762D;
  height: 36.2vw;
  padding: 10px;
  width: 90%;
}

.flock-box .image-box img {
  position: absolute;
  left: 2vw;
  top: -2vw;
}

.flock-box .detail-box {
  align-self: center;
}

.other-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 45px;
  padding: 16px 10%;
}

.other-box .post-box {
  display: grid;
  grid-template-columns: 1fr;
}

.other-box .post-box .image-box {
  position: relative;
  width: 100%;
  height: 22vw;
}

.other-box .post-box .image-box img {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.other-box .post-box .image-box .line2 {
  position: absolute;
  width: 8vw;
  height: 8vw;
  border: 5px solid #8F762D;
  top: -3vw;
  right: -3vw;
  z-index: 1;
}

.single-img-box {
  padding: 5vw 10%;
}

.single-img-box img {
  width: 100%;
  height: 35vw;
  -o-object-fit: cover;
     object-fit: cover;
}

